AUTH_GUARD="web"
APP_KEY="base64:K1x5a3h0b2l6cG9vZ3V0aW5n"

# Google
AUTH_GOOGLE_CLIENT_ID="10458859692-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
AUTH_GOOGLE_CLIENT_SECRET="GOCSPX-xxxxxxxxxxxxxxxxxxxxxxxx"

DB_HOST="localhost"
DB_PORT="3306"
DB_USERNAME="root"
DB_PASSWORD=""
DB_DATABASE="test"